@import 'bootstrap/dist/css/bootstrap.min.css';
/*@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap');*/
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css');
@import url('https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css');
@font-face {
  font-family: 'Fira Code',monospace;
  src: url('/fonts/FiraCode-VariableFont_wght.ttf');
  font-style: medium;
  font-weight: normal;
  font-display: swap;
}
html,
body {
  padding: 0;
  margin: 0;
  /*font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;*/
  font-family: 'Fira Code', monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.logo img {
  width: 50%;
}

.btn-link {
  background-color: #f5bf18 !important;
  box-shadow: none;
}

a {
  text-decoration: none !important;
}

.col-md-6 h1 {
  color: #f5bf18;
  font-size: 35px;
}

.vh-600 {
  height: 500px;

}

.vh-600 P {
  font-size: 20px;
  font-weight: 300;
}

.vh-600 span {
  color: #f5bf18;
}

.icon-bg {
  background-color: #f5bf18;
  width: 30px;
  height: 30px;
  margin-bottom: 20px;
  color: #fff;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* header team color */

.bg-team-1 {
  background-color: #6c757d;
  position: sticky !important;
  top: 0px;
  z-index: 200;
}

.bg-team-2 {
  background-color: #6E6E6E;
  position: sticky !important;
  top: 0px;
  z-index: 200;
}

.bg-team-3 {
  background-color: #fff;
  position: sticky !important;
  top: 0px;
  z-index: 200;
}

.bg-team-4 {
  background-color: #E6E6E6;
  position: sticky !important;
  top: 0px;
  z-index: 200;
}

/* .section-about */

.section-about {
  background-color: #6E6E6E;
  position: relative;
  padding: 50px 0px;
}

.section-about h2 {
  color: #f5bf18;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 10px;
}

.separater {
  border: 2px solid #f5bf18;
  width: 150px;
  margin: auto;
  background-color: #f5bf18;
}

.section-about .figure {
  width: 400px;

}

.section-about img {
  width: 100%;
  max-width: 100%;
  border-radius: 10px;
}

/*.section-about::before,
.section-about::after{
  content: '';
  position: absolute;
  height: 100px;
  bottom: -50px;
  left: 0px;
  right: 0px;
  background-color: white;
  -webkit-transform: skewY(-4deg) ;
  -moz-transform: skewY(-4deg) ;
  -ms-transform: skewY(-4deg) ;

}*/

/* section-choisir */

.section-choi {
  z-index: 100;
  margin-top: 50px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.section-choi h2,
.section-dev h2,
.section-domaines h2,
.section-languages h2 {
  color: #f5bf18;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 10px;
}

p {
  font-size: 20px;
  font-weight: 300;
}

.dev-card {
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 15px;
  height: 200px;
}

.dev-card h3,
.domaines-card h3 {
  font-size: 23px;
  color: #FFD400;
}

.dev-card p,
.domaines-card p {
  font-size: 16px;
  font-weight: 300;
}

.section-dev {
  margin-bottom: 40px;
  min-height: 400px;
}

/* .section-domaines */

.section-domaines {
  background-color: #E6E6E6;
  padding: 50px 0px;
  margin-top: 60px;
}

.section-domaines .domaines-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.section-domaines .icon-bg {
  width: 100px;
  height: 100px;
}


/* section-solution */

.section-languages {
  margin-top: 30px;
  margin-bottom: 30px;
}

.section-languages .d-flex {
  flex-wrap: wrap;
}

.languages-card {
  width: 100px;
  height: 100px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

/* footer */

footer {
  margin-top: 50px;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .logo img {
  width: 200px;
}

footer p {
  font-size: 16px;
  color: #fff;
}


/* Tablet */

@media(max-width:768px) {
  .section-about .figure {
    width: 100%;
  }

  .vh-600 {
    height: auto;
    padding: 10px 0px;
  }

  .vh-600 .col-md-6 h1 {
    font-size: 25px;
  }

  .section-about .col-md-6 {
    width: 100% !important;
  }

  .section-about .col-md-6 p {
    font-size: 16px;
  }

  .section-about h2 {
    font-size: 20px;
  }
}


/* Mobile */

@media(max-width:425px) {
  .social-icon {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
  }

  h2 {
    font-size: 20px !important;
  }

  .dev-card h3 {
    font-size: 20px !important;
  }
}